[Desktop Entry]
Name=ChatGPT (Official)
Name[ru]=ChatGPT (Официальный)
Comment=Chat with neural network
Comment[ru]=Чат с нейросетью (из России через VPN)
Icon=chatgpt-plugin
Exec=/usr/share/chatgpt-plugin/chatgpt_plugin
Type=Application
Categories=Network;WebBrowser;
Terminal=false
